.rec-category {
  padding: 2rem;
  margin: 2rem 0;
  .rec-cate-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    p {
      margin: 0;
      cursor: pointer;
      &:hover {
        color: #56586C;
      }
    }
  }
  .rec-cate-cloth {
    display: flex;
    justify-content: space-between;
    .card {
      position: relative;
      width: 15%;
      cursor: pointer;
      &:hover {
        .card-text {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-size: 1.05rem;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          color: white;
          p {
            margin: 0.5rem;
            &.one-line {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            &.two-line {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
      .card-text {
        display: none;
      }
      .card-image {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  h3 {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
}