.navbar {
  height: 7vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  .ssafit-logo {
    margin: 0 2rem;
    height: 6vh;
  }
  .nav-menu {
    color: #777777;
    width: 90%;
    list-style: none;
    text-align: end;
    li {
      display: inline-block;
      position: relative;
      .link {
        font-size: 1.2rem;
        text-decoration: none;
        margin-right: 5rem;
        color: #777777;
        &#active {
          font-weight: bold;
          color: black;
        }
        &:hover {
          color: black;
        }
      }
    }
  }
}