.navbar {
  height: 7vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  .ssafit-logo {
    margin: 0 0 0 2rem;
    height: 5vh;
    cursor: pointer;
  }
  .nav-menu {
    margin: 0 2rem 0 0;
    padding: 0;
    width: 40vw;
    color: #777777;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    div {
      font-size: 1.2rem;
      cursor: pointer;
      color: #777777;
      margin: 0 0.5rem;

      &.active {
        color: black;
        p {
          font-size: 1.5rem;
        }
      }

      p {
        font-size: 1.2rem;
        margin: 0;
        padding: 0.5rem;
      }

      &.inactive {
        p {
          &:hover {
            color: black;
            transform: scale(1.25);
            transition: 0.5s;
          }
        }
      }
    }

  }
}

@keyframes search-slider {
  0% {
    opacity: 0.6;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.search-bar-group {
  user-select: none;
  position: absolute;
  width: 96vw;
  height: 10vh;
  padding: 1.5vh 0;
  z-index: 1;
  animation: search-slider 1s;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  .search-bar {
    padding: 0;
    display: table-cell;
    .item {
      border-bottom: 1px solid #777777;
      padding-bottom: 0.2rem;
      display: inline-block;
      height: 6vh;
      text-align: center;
      input {
        padding-left: 1rem;
        border: none;
        height: 100%;
        width: 42vw;
        &:focus {
          outline: none;
        }
      }
      img {
        margin-right: 1rem;
        padding: 0.6rem;
        height: 6vh;
        width: 6vh;
        cursor: pointer;
      }
    }
  }
  .close-search {
    font-size: 2rem;
    span {
      cursor: pointer;
    }
  }
}