.mypage-recent,
.mypage-like,
.mypage-codi {
  margin: 3rem;
  .cloth-card,
  .codi-card {
    height: 44vh;
    position: relative;
    cursor: pointer;

    &:hover {
      transform: translateY(-0.5rem);
      transition: 0.4s;
    }

    .card-img {
      height: 65%;
    }

    .text {
      margin: 0;
      &.one-line {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        margin-top: 0.5rem;
        &.price {
          position: absolute;
          bottom: 0.7rem;
          right: 0.7rem;
        }
      }
      &.two-line {
        margin-top: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .card-heart {
      text-align: end;
      img {
        position: absolute;
        right: 1rem;
        bottom: 38%;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.like-bottom {
  height: 5vh;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  .pagenation {
    user-select: none;
    border: 1px solid #56586C;
    border-radius: 4px;
    width: 25%;
    height: 100%;
    display: flex;
    div {
      height: 100%;
      // width: 15%;
      cursor: pointer;
      position: relative;
      &:first-child,
      &:last-child {
        width: 12.5%;
      }
      &.active {
        font-weight: bold;
        background-color: #f3f3f3;
      }
      &:hover {
        background-color: #f3f3f3;
        transition: ease-in 0.2s;
        p {
          font-weight: bold;
        }
      }
      p {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.no-cards {
  padding-top: 10%;
  text-align: center;
  height: 44vh;
  font-size: 1.5rem;
  letter-spacing: 1rem;
}
