.mypage-recent,
.mypage-like,
.mypage-codi {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-top: 1rem;
  padding: 3%;
  .recent-cloth,
  .like-cloth,
  .like-codi {
    width: 20%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    // margin: 3rem 2rem;
    .cloth-image,
    .codi-image {
      height: 55%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .cloth-p,
    .codi-p {
      width: 100%;
      .p-top {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .p-center {
        margin: 0.5rem 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .p-bottom {
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .cloth-like,
    .codi-like {
      height: 4vh;
      text-align: end;
      img {
        height: 100%;
      }
    }
    &:hover {
      transform: translateY(-0.5rem);
      transition: 0.4s;
    }
  }
}