.myinfo {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  p {
    letter-spacing: 0.5rem;
    margin: 0.8rem;
    &.title {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
  .left {
    height: 18vh;
    width: 18vh;
    margin: auto 0;
    border-radius: 70%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .center {
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right {
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .myinfo-btn-div {
    height: 2vh;
    text-align: end;
    button {
      padding: 0.5rem;
      text-align: center;
      background-color: #56586C;
      color: white;
      border-radius: 4px;
      border: none;
      transition: 0.5s;
      cursor: pointer;
      &.edit {
        width: 8rem;
        &:hover {
          box-shadow: inset 8rem 0 0 0 #3c3d47;
        }
      }
      span {
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
    }
  }
}