.comment {
  display: flex;
  position: relative;
  height: 4vh;
  .nickname {
    padding: 0;
    margin-right: 1%;
    background-color: beige;
    margin-left: 1%;
    width: 11%;
  }
  .comment-edit {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    margin-right: 1%;
    background-color: aliceblue;
    width: 80%;
    input {
      height: 100%;
      width: 90%;
    }
    button {
      height: 100%;
      width: 8%;
      padding: 0;
      margin: 0;
    }
  }
  .content {
    padding: 0;
    margin-right: 1%;
    background-color: aliceblue;
    width: 80%;
  }
  .edit-btn {
    background-color: wheat;
    padding: 0;
    margin-right: 1%;
    background-image: url('../images/edit.png');
    background-size: cover;
    aspect-ratio: 1/1;
    cursor: pointer;
  }
  .del-btn {
    background-color: violet;
    padding: 0;
    margin-right: 1%;
    background-image: url('../images/del.png');
    background-size: cover;
    aspect-ratio: 1/1;
    cursor: pointer;
  }
}